@model EcomQLDM.ViewModels.AddHangHoaVM
@{
    ViewData["Title"] = "Add Product";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thêm Sản Phẩm</span></h5>
            <form asp-controller="HangHoa" asp-action="AddHH" enctype="multipart/form-data">
                <div class="row">
                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.MaHh"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.MaHh" />
                        <span asp-validation-for="@Model.MaHh" class="text-danger"></span>
                    </div> *@

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.TenHH"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.TenHH" />
                        <span asp-validation-for="@Model.TenHH" class="text-danger"></span>
                    </div>

                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.TenAlias"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.TenAlias" />
                        <span asp-validation-for="@Model.TenAlias" class="text-danger"></span>
                    </div> *@

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.TenLoai"></label><sup>*</sup>
                        @* <input class="form-control" asp-for="@Model.MaLoai" /> *@
                        <select asp-for="@Model.TenLoai" class="form-control" asp-items="ViewBag.TenLoai"></select>
                        <span asp-validation-for="@Model.TenLoai" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MaNcc"></label><sup>*</sup>
                        @* <input class="form-control" asp-for="@Model.MaLoai" /> *@
                        <select asp-for="@Model.MaNcc" class="form-control" asp-items="ViewBag.MaNcc"></select>
                        <span asp-validation-for="@Model.MaNcc" class="text-danger"></span>
                    </div>
                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.MoTaDonVi"></label>
                        <input class="form-control" asp-for="@Model.MoTaDonVi" />
                        <span asp-validation-for="@Model.MoTaDonVi" class="text-danger"></span>
                    </div> *@

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.DonGia"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.DonGia" />
                        <span asp-validation-for="@Model.DonGia" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 form-group">
                        <label for="Hinh"><sup>Hình Ảnh*</sup></label>
                        <input type="file" name="Hinh" class="form-control" />
                    </div>
                    <div class="col-md-8 form-group">
                        <label for="Hinh"><sup>Hình Ảnh Phụ</sup></label>
                        <input type="file" name="Hinh2" class="form-control" />
                    </div>
                    <div class="col-md-8 form-group">
                        <label for="Hinh"><sup>Hình Ảnh Phụ</sup></label>
                        <input type="file" name="Hinh3" class="form-control" />
                    </div>

                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.NgaySx"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.NgaySx" />
                        <span asp-validation-for="@Model.NgaySx" class="text-danger"></span>
                    </div> *@

                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.GiamGia">GiamGia</label>
                        <input class="form-control" asp-for="@Model.GiamGia" />
                        <span asp-validation-for="@Model.GiamGia" class="text-danger"></span>
                    </div> *@

                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.SoLanXem">SoLanXem</label>
                        <input class="form-control" asp-for="@Model.SoLanXem" />
                        <span asp-validation-for="@Model.SoLanXem" class="text-danger"></span>
                    </div> *@

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MoTaPhu1"></label>
                        <input class="form-control" asp-for="@Model.MoTaPhu1" />
                        <span asp-validation-for="@Model.MoTaPhu1" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MoTaPhu2"></label>
                        <input class="form-control" asp-for="@Model.MoTaPhu2" />
                        <span asp-validation-for="@Model.MoTaPhu2" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MoTaPhu3"></label> Chi Tiết
                        <input class="form-control" asp-for="@Model.MoTaPhu3" />
                        <span asp-validation-for="@Model.MoTaPhu3" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MoTaPhu4"></label>
                        <input class="form-control" asp-for="@Model.MoTaPhu4" />
                        <span asp-validation-for="@Model.MoTaPhu4" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MoTa"></label>
                        <input class="form-control" asp-for="@Model.MoTa" />
                        <span asp-validation-for="@Model.MoTa" class="text-danger"></span>
                    </div>

                    @* <div class="col-md-8 form-group">
                        <label asp-for="@Model.MaNcc">MaNcc</label>
                        <input class="form-control" asp-for="@Model.MaNcc" />
                        <span asp-validation-for="@Model.MaNcc" class="text-danger"></span>
                    </div> *@
                    
                </div>

                <div class="row">
                    <div class="col-md-8 form-group">
                        <button type="submit" class="btn btn-block btn-primary font-weight-bold py-2">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

