@model EcomQLDM.ViewModels.KhachHangVM
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"></span>Quên Mật Khẩu</h5>
            <form asp-controller="KhachHang" asp-action="ForgotPassword" method="post" enctype="multipart/form-data">
                
                <div class="row">
                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.MaKh"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.MaKh" />
                        <span asp-validation-for="@Model.MaKh" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8 form-group">
                        <label asp-for="@Model.Email"></label><sup>*</sup>
                        <input class="form-control" asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8 form-group">
                        <button type="submit" class="btn btn-block btn-primary font-weight-bold py-2">Gửi Yêu Cầu</button>
                        
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

